<p class="text-xs text-neutral-500 dark:text-neutral-400">Built from <a href="https://gitlab.com/ondrejbudai/budai.cz/-/commit/COMMIT">COMMIT</a>.</p>
<script data-goatcounter="https://budai.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
